
<div class="card text-white text-center bg-dark" >
  <div class="card-body">
    <h1 class="card-title">Welcome to Moti!</h1>
    <br>
    <p class="card-text">I am an easy to use application meant to help you keep track of your goals and keep you motivated along the way! To get started sign in or sign up.</p>
    <br>
    </div>

